<html>
    <head>
        <link/>
    </head>
    <body>
        <table>
            <tr>
                <th>id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Edad</th>
            </tr>
            <tr>
                <td>2</td>
                <td>Estela</td>
                <td>Estrada Ramires</td>
                <td>19</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Hugo</td>
                <td>Perez Suarez</td>
                <td>18</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Sabrina</td>
                <td>Contreras Morales</td>
                <td>17</td>
            </tr>
        </table>
    </body>
    <script>
        let data = [
            {id: 1, nombre: "Hugo", apellido: "Estrada Ramires", edad: 19},
            {id: 2, nombre: "Estela", apellido: "Perez Suarez", edad: 18},
            {id: 3, nombre: "Sabrina", apellido: "Contreras Morales", edad: 17}
        ];
    </script>
</html>